{% extends 'base.html' %}

{% block title %}Registry{% endblock %}

{% block main %}
<div>
    <h3>Registry</h3>
    <h4>192.168.31.102:5000</h4>
</div>
<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th> # </th >
                <th> IMAGE </th >
                <th> TAG </th >
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> 1 </td>
                <td> registry </td>
                <td> 2 </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
