{% extends 'base.html' %}

{% block title %}Registry{% endblock %}

{% block main %}
<div></div>
<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th> # </th >
                <th> IMAGE </th >
                <th> TAG </th >
                <th> DELETE </th >
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> # </td>
                <td> 192.168.31.102:5000/registry </td>
                <td> latest </td>
                <td> del </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
