{% extends 'base.html' %}

{% block title %}Registries{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/registry.css') }}">
{% endblock %}

{% block main %}
    <div class="form-container">
        <div>
            <h3>Repositories</h3>
            <h4>192.168.31.102:5000</h4>
        </div>
        <div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th> # </th >
                        <th> Registry </th >
                        <th> Tags </th >
                    </tr>
                </thead>
                <tbody>
                    {% for registry in registries %}
                    {% endfor %}
                    <tr>
                        <td> 1 </td>
                        <td> registry </td>
                        <td> 2 </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
