/*
* @Author: fangzt <295157914@qq.com>
* @Date:   2018-07-30 19:22:53
* @Last Modified by:   fzt
* @Last Modified time: 2018-07-30 19:38:43
*/

.form-container {
    width: 400px;
    margin: 0 auto;
}

.page-title {
    text-align: center;
}